<mat-card>
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isloading">
    <mat-form-field>
      <input
      #doctorName="ngModel"
      matInput
      type="text"
      name="doctorName"
      [ngModel]="post?.doctorName"
      required
      placeholder="Doctor's first and last name">
      <mat-error *ngIf="doctorName.invalid">Please enter a doctor's name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      #patientName="ngModel"
      matInput
      type="text"
      name="patientName"
      [ngModel]="post?.patientName"
      required
      placeholder="Patient name">
      <mat-error *ngIf="patientName.invalid">Please enter a patient's name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      row="6"
      name="treatment"
      [ngModel]="post?.treatment"
      placeholder="Treatment">
      </textarea>
    </mat-form-field>
    <button
      color="primary"
      mat-raised-button
      type="submit">Save Doctor</button>
  </form>
</mat-card>
